:root {
    --bgColor: #584356;
    --accentColor: #fffbe8;
    --tertiaryColor: #000000;
    --okColor: #A9DDB1;
    --errColor: #FF5733;
    --mainFont: 'Mogena';
    --stdFont: 'NeueMontrealMedium';
}
html {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
body {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--bgColor);
}
div.main{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding: 0px;
    background-color: transparent;
}
h1 {
    color: var(--accentColor);
    font-family: var(--mainFont);
    font-size: 40px;
    padding: 20px;
    text-align: left;
    margin: 0px;
}
h2 {
    color: var(--accentColor);
    font-family: var(--mainFont);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    margin: 0px;
}
p {
    color: var(--accentColor);
    font-family: var(--stdFont);
    font-size: 20px;
    padding: 0px;
    text-align: left;
    margin: 0px;
}
div.content {
    background-color: var(--accentColor);
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    overflow-y: hidden;
}
label {
    color: var(--tertiaryColor);
    font-family: var(--mainFont);
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin: 0px;
    display: inline-block;
}
input[type="text"]{
    position: relative;
    display:block;
    border: 2px solid var(--tertiaryColor);
    border-radius: 10px;
    background-color:var(--accentColor);
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
input[type="text"]:focus {
    outline: none;
    font-family: var(--stdFont);
    font-size: 20px;
    color: var(--tertiaryColor);
}
button.submit {
    background-color: var(--bgColor);
    font-family: var(--mainFont);
    font-size: 20px;
    color:var(--accentColor);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h2.display {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: var(--mainFont);
    font-size: 25px;
    color: var(--tertiaryColor);
}
p.display {
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: var(--stdFont);
    font-size: 20px;
    color: var(--tertiaryColor);
}
div.status {
    background-color: var(--okColor);
    border-radius: 10px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
h2.status {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: var(--mainFont);
    font-size: 25px;
    color: var(--tertiaryColor);
}
p.status {
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: var(--stdFont);
    font-size: 20px;
    color: var(--tertiaryColor);
}
div.spacer {
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    height: 5vh;
}
